/* Chicago BIPOC Birders Site Styles */


:root {
  /* Generic sizing for the page */
  --wrapper-height: 80vh;
  --avatar-max-width: 280px;

  /* Fonts for different elements */
  --font-family: sans-serif;
  --font-family-header: sans-serif;
  --font-family-list: monospace;

  /* Colors you'll see cascade through the elements */

  /* To set your own use custom-theme.css with `custom-theme` in settings.json `theme` property */
  --color-bg: #BDBDBD; /* Used for the page body background */
  --color-bg-alt: #FFFFFF; /* Used for social icons on hover */
  --color-text-main: #000000; /* List text ann social icons on hover */
  --color-primary: #FFFFFF; /* Headers and borders */

  /* These are some Glitch colors you are welcome to use! */
  --glitch-blue: #2800FF;
  --glitch-blue-light: #5A78FF;
  --glitch-pink: #FF7698;
  --glitch-pink-light: #FEC1EE;
  --glitch-green: #05F293;
  --glitch-green-light: #9BE7D8;
  --glitch-yellow: #FFFF60;
  --glitch-purple: #9480FF;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Page structure */
body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  text-align: center;
}
.wrapper {
  min-height: var(--wrapper-height);
  place-items: center;
  margin: 3rem 2rem 0;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin: 0 auto;
}

/* The footer and our remix on glitch button */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}
.footer a:hover, .footer a:focus {
  background: var(--color-primary);
}
.footer .tagline {
  padding: 0.25rem 1rem 1rem;
  text-align: left;
  white-space: nowrap;
}
.btn--remix {
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
  padding: 0.8rem 1.75rem;
  /*font sizes scaled by viewport https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/*/
  font-size: clamp(0.9rem, 0.8250rem + 0.3333vw, 1rem);
  line-height: 1rem;
  font-weight: 500;
  height: 3rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
  margin-right: 1rem;
}
.btn--remix img {
  position: relative;
  top: 1px;
  margin-right: 0.25rem;
}
.btn--remix:hover, .btn--remix:focus {
  background-color: #D0FFF1;
}
.tagline {
  font-size: clamp(1rem, 0.9250rem + 0.3333vw, 1.1rem);
}

/* Typography */
p {
  margin: 0 0 1rem 0;
  line-height: 1.5 !important;
  font-size: clamp(1rem, 0.2500rem + 3.3333vw, 2rem);
}
h1,
h2,
h3,
h4,
h5 {
  margin: 2rem 0 0.8rem;
  font-family: var(--font-family-header);
  font-weight: bold;
  line-height: 1.1;
  color: var(--color-text-main);
}
h1 {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  font-size: 2rem;
  display: inline-flex;
  color: var(--color-primary);
  justify-content: center;
}
ul > li,
ol > li {
  margin-bottom: 0.75rem;
  line-height: 1.5;
  font-size: clamp(1.25rem, 0.6250rem + 1.6667vw, 1.5rem);
}
ul {
  padding: 0 0 0 18px;
  margin: 0;
}

/* Link styles */
a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  text-decoration: none;
  border-bottom: 6px solid var(--color-primary);
  color: var(--color-text-main);
  transition: background 0.2s linear;
}
a:hover, a:active, a:focus {
  background: var(--color-primary);
}

.avatar-container {
  display: flex;
  justify-content: center;
}
.avatar {
  max-width: var(--avatar-max-width);
  max-height: var(--avatar-max-width);
  margin: 1rem 0rem .5rem;
  border-radius: 10%;
}

/* Link list content specified in settings.json links array */
ul.link-list {
  margin: 0.5em 0 2.5rem;
  padding-left: 0px;
}
ul.link-list li {
  font-family: var(--font-family-list);
  font-weight: 100;
  list-style: none;
  clear: both;
  width: 100%;
  min-width: 100%;
  text-align: center;
  margin: 1rem auto;
  font-size: clamp(0.7rem, 0.3250rem + 1.6667vw, 1.2rem);
}
ul.link-list li a {
  min-height: 5.5em;
  min-width: 100%;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
ul.link-list li a:link,
ul.link-list li a:visited {
  text-align: center;
  border: 2px solid var(--color-primary);
  padding: 1.5rem;
  position: relative;
}
ul.link-list li a img {
  z-index: 1;
  aspect-ratio: 1 / 1;
  height: 3em;
  object-fit: cover;
  overflow: hidden;
}
ul.link-list li a span {
  z-index: 2;
  padding-left: 1rem;
  padding-right: 1rem;
}

.social-icons {
  justify-content: center;
}
.social-icons a:link {
  border-bottom: none;
  background: transparent;
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem 1.5rem;
}
.social-profile-icon {
  width: 1.75rem;
  margin-bottom: 1rem;
  display: inline-flex;
}
/* Image paths specified in layout/social.html */
.social-profile-icon path {
  fill: var(--color-bg-alt);
}
.social-profile-icon:hover path, .social-profile-icon:focus path {
  fill: var(--color-text-main);
}

/* Video aspect ratio helper */
.video-wrapper__16-9 iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* Fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

:root {
  --color-bg: #000;
  --color-bg-alt: #9AA0B50f;
  --color-text-main: #000000;
  --color-primary: #000000;
  --theme-color-title: #000000;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
  --font-family-list: Menlo, Consolas, Monaco, "Lucida Console", monospace;
}
body {
  background: #9AA0B55f;
}
h1{
  font-family: sans-serif;
  color: var(--theme-color-title);
}

p {
  font-size: 1em;
}

ul.link-list li a {
  border-radius: 50px;
  background: fixed linear-gradient(0deg, #CEAF91, #9AA0B50f);
}
ul.link-list li a:link,
ul.link-list li a:visited {
  border: 4px solid var(--color-primary);
  border-bottom: 21px solid var(--color-primary);
  justify-content: space-around;
}
ul.link-list li a:hover, ul.link-list li a:focus {
  border: 4px solid var(--color-primary);
  border-bottom: 21px solid var(--color-primary);
  background: #ffffff;
}
ul.link-list li a img {
  display: none;
}

.social-profile-icon path {
  fill: var(--color-bg);
}

hr {
  border-top: solid;
  border-bottom: 0px;
}